/*color scheme*/

/*presets*/
$color-background: 		$color-white;
$color-border: 			$color-gray-light;
$color-text: 			$color-gray-normal;
$color-text-strong:		$color-gray-dark;
$color-text-em:			$color-gray-dark;
$color-text-blockquote:	$color-gray-light;
$color-h1: 				$color-gray-normal;
$color-h2: 				$color-gray-dark;
$color-h3: 				$color-white;
